@use "../utils" as *;
/* ----------------------------------
	13. about css
------------------------------------ */
.about-one{
	position: relative;
	z-index: 1;
	padding: 120px 0px;
	&__left{
		
	}
	&__right{
		
	}
	&__thumb{

	}
	&__content{
		&__title{
			font-style: normal;
			font-weight: 700;
			font-size: 80px;
			line-height: 100%;
			margin-bottom: 24px;
			padding-bottom: 0;
		}
		&__text{
			font-family: $body-font;
			font-style: normal;
			font-weight: 400;
			font-size: 21px;
			line-height:  143%;
			color: $textcolor;
			padding-bottom: 0;
		}
		&__text + &__text{
			margin-top: 25px;
		}
	}
	.order-two{
		margin-top: 150px;
	}
	&__list{
		margin-top: 50px;
		margin-left: 0;
		margin-bottom: 0;
		&__item{
			font-family: $heading-font;
			font-style: normal;
			font-weight: 700;
			font-size: 28px;
			line-height: 129%;
			letter-spacing: -0.5px;
			color: $black;
			i{
				font-size: 24px;
				color: $black;
				margin-right: 15px;
				transition: all 0.4s ease;
			}
			&:hover{
				i{
					color: $base;
				}
			}
		}
		&__item + &__item{
			margin-top: 24px;
		}
	}
}

.about-two{
	.order-two{
		.about-two__left{
			margin-right: auto;
			margin-left: 100px;
			@media (max-width:1199px){
				margin-left: 0;
			}
		}
	}
	.row + .row{
		margin-top: 150px;
	}
	&__left{
		margin-right: 100px;
		@media (max-width:1199px){
			margin-right: 0;
		}
	}
	&__thumb{
		position: relative;
		z-index: 1;
		text-align: center;
		&__bg{
			position: absolute;
			top: 74px;
			left: 0;
			right: 0;
			bottom: 0;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: -1;
			mix-blend-mode: luminosity;
			border-radius: 20px 20px 0px 0px;
		}
	}

	&__right{

	}
	&__content{
		margin-bottom: 50px;
		&__title{
			font-family: 'Clash Display';
			font-style: normal;
			font-weight: 500;
			font-size: 75px;
			line-height: 107%;
			margin-bottom: 24px;
			padding-bottom: 0;
		}
		&__text{
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 167%;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		&__text + &__text{
			margin-top: 25px;
		}
	}
	&__list{
		margin-bottom: 0;
		margin-left: -5px;
		&__item{
			position: relative;
			i{
				position: absolute;
				left: 0;
				top: 10px;
				font-size: 14px;
				color: #321CA4;
			}
			font-family: 'Clash Display';
			font-style: normal;
			font-weight: 500;
			font-size: 28px;
			line-height: 129%;
			letter-spacing: 1px;
			color: $black;
			padding-left: 25px;
		}
		&__item + &__item{
			margin-top: 24px;
		}
	}
}

.about-page{
	padding: 130px 0px 100px;
	.sec-title__title{
		font-style: normal;
		font-weight: 700;
		font-size: 80px;
		line-height: 100%;
		text-align: center;
		letter-spacing: -2px;
	}
	.about-page__thumb{
		img{
			object-fit: cover;
			width: 100%;
			border-radius: 20px;
		}
	}
}

/* ----------------------------------
	13. Card css
------------------------------------ */

.card-one{
	position: relative;
	border-radius: 50px;
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
	background: $black;
	&__left{
		margin-left: -120px;
		margin-right: 40px;
	}
	&__thumb{
		img{
			border-radius: 50px;
			object-fit: cover;
			@media (max-width:991px) {
				width: 100%;
			}
		}
	}
	&__right{

	}
	&__top{
		margin-bottom: 50px;
		padding-bottom: 50px;
		border-bottom: 1px solid $textcolor;
		&__title{
			font-family: $heading-font;
			font-style: normal;
			font-weight: 700;
			font-size: 80px;
			line-height: 100%;
			letter-spacing: -2px;
			color: $white;
			padding-bottom: 0;
			margin-bottom: 24px;
		}
		&__text{
			font-family: $body-font;
			font-style: normal;
			font-weight: 400;
			font-size: 21px;
			line-height: 143%;
			margin-bottom: 0;
			padding-bottom: 0;
			color: $white;
		}
	}
	&__funfact{
		display: flex;
		align-items: center;
		gap: 50px;
		&__item{
			&__count{
				display: flex;
				align-items: center;
				
				font-family: $heading-font;
				font-style: normal;
				font-weight: 700;
				font-size: 120px;
				line-height: 100%;
				letter-spacing: -2px;
				color: #FE330A;
				span{
					color: inherit;
				}
			}
			&__text{
				font-family: $body-font;
				font-style: normal;
				font-weight: 400;
				font-size: 21px;
				line-height: 143%;
				color: #EAEDF0;
			}
		}
	}
}

/* ----------------------------------
	13. Price css
------------------------------------ */

.price-one{
	padding-top: 130px;
	padding-bottom: 150px;
	.sec-title{
		padding-bottom: 50px;
	}
	&__item{
		position: relative;
		z-index: 1;
		border-radius: 10px;
		background: #EFEAE3;
		padding: 40px;
		overflow: hidden;
		&__top{
			padding-bottom: 24px;
			margin-bottom: 24px;
			border-bottom: 1px solid #DBD6CF;
			&__title{
				font-family: $heading-font;
				font-style: normal;
				font-weight: 700;
				font-size: 28px;
				line-height: 129%;
				letter-spacing: -0.5px;
				color: $black;
				margin-bottom: 10px;
				padding-bottom: 0;
			}
			&__dec{
				font-family: $body-font;
				font-weight: 400;
				font-size: 18px;
				line-height: 167%;
				color: $textcolor;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
		&__content{
			&__top{
				&__text{
					font-family: $body-font;
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 167%;
					color: $textcolor;
					margin-bottom: 50px;
				}
			}
			&__number{
				font-family: $heading-font;
				font-style: normal;
				font-weight: 700;
				font-size: 80px;
				line-height: 100%;
				letter-spacing: -2px;
				color: $black;
				margin-bottom: 15px;
				padding-bottom: 0;
				span{
					color: inherit;
					font-weight: 600;
					font-size: 18px;
					line-height: 167%;
					display: inline-block;
					font-family: $body-font;
					letter-spacing: 0;
				}
			}
			&__btn{
				a{
					width: 100%;
				}
				.azzle-btn{
					&:hover{
						color: $black !important;
					}
				}
			}
		}
		&::after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 0%;
			background: $black;
			z-index: -1;
		}
		&:hover {
			&::after{
				height: 100%;
			}
			.azzle-btn{
				border: 1px solid $textcolor-two;
				color: $white;
				&::before{
					background: $textcolor-two;
				}
			}
		}
		&:hover &__top{
			border-bottom: 1px solid $textcolor;
			&__title,&__dec{
				color: $white;
			}
		}
		&:hover &__content{
			&__number,.price-one__item__content__top__text{
				color: $white;
			}
		}
	}
}

/* ----------------------------------
	13. integrations-one
------------------------------------ */
.integrations-one{
	padding: 130px 0px;
	position: relative;
	z-index: 1;
	background: $black;
	&__bg{
		position: absolute;
		top: 74px;
		left: 0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
	}
	&__content{
		margin-bottom: 50px;
		&__title{
			font-family: 'Clash Display';
			font-style: normal;
			font-weight: 500;
			font-size: 75px;
			line-height: 107%;
			margin-bottom: 24px;
			padding-bottom: 0;
			color: $white;

		}
		&__text{
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 167%;
			margin-bottom: 0;
			padding-bottom: 0;
			color: $white;
		}
		&__text + &__text{
			margin-top: 25px;
		}
	}
	&__list{
		margin-bottom: 50px;
		margin-left: -5px;
		&__item{
			position: relative;
			i{
				position: absolute;
				left: 0;
				top: 10px;
				font-size: 14px;
				color: #321CA4;
			}
			font-family: 'Clash Display';
			font-style: normal;
			font-weight: 500;
			font-size: 28px;
			line-height: 129%;
			letter-spacing: 1px;
			color: $white;
			padding-left: 25px;
		}
		&__item + &__item{
			margin-top: 24px;
		}
	}

	&__carousel__item{
		
	}
}

/* ----------------------------------
	13. Funfact
------------------------------------ */

.funfact-one{
	padding-bottom: 130px;
	position: relative;

	&__item{
		&__count{
			display: flex;
			justify-content: start;
			align-items: center;
			font-family: $heading-font;
			font-style: normal;
			font-weight: 700;
			font-size: 80px;
			line-height:100%;
			letter-spacing: -2px;
			color: $textcolor-two;
			span{
				color: inherit;
			}
		}
		&__text{
			margin-top: -4px;
			font-family: $body-font;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 167%;
			color: $black;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

/* ----------------------------------
	mission-one
------------------------------------ */

.mission-one{
	position: relative;
	padding-bottom: 130px;
	&__content{
		&__title{
			font-style: normal;
			font-weight: 700;
			font-size: 80px;
			line-height:  100%;
			letter-spacing: -2px;
			color: #000000;
			margin-bottom: 24px;
		}
		&__text{
			font-style: normal;
			font-weight: 400;
			font-size: 21px;
			line-height: 30px;
			color: #191919;
		}
		&__text + &__text{
			margin-top: 20px;
		}
		&__btn{
			margin-top: 40px;
		}
	}

	&__thumb{
		img{
			object-fit: cover;
			width: 100%;
			border-radius: 20px;
		}
	}
}

/* ----------------------------------
	content-one
------------------------------------ */

.content-one{
	position: relative;
	padding: 130px 0px;
	background: $black;
	&__thumb{
		img{
			object-fit: cover;
			border-radius: 20px;
		}
	}
	&__content{
		margin-left: 20px;
		&__title{
			font-style: normal;
			font-weight: 700;
			font-size: 80px;
			line-height:100%;
			letter-spacing: -2px;
			color: #FFFFFF;
			margin-bottom: 24px;
		}
		&__text{
			font-style: normal;
			font-weight: 400;
			font-size: 21px;
			line-height: 30px;
			color: #FFFFFF;
			margin-bottom: 80px;
		}
		&__list{
			margin-bottom: 0;
			&__item{
				font-style: normal;
				font-weight: 700;
				font-family: $heading-font;
				font-size: 30px;
				line-height: 133%;
				color: $textcolor-two;
				a{
					color: $white;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			&__item + &__item{
				margin-top: 24px;
			}
		}
	}
}

/* ----------------------------------
	Team
------------------------------------ */

.team-one{
	position: relative;
	padding-bottom: 130px;
	.team__section{
		padding-bottom: 80px;
	}
	.team__section__title{
		font-style: normal;
		font-weight: 700;
		font-size: 80px;
		line-height: 100%;
		letter-spacing: -2px;
		color: #000000;
	}
	&__box{
		background: #EFEAE3;
		border-radius: 20px;
		padding: 20px;
	}
	&__thumb{
		img{
			object-fit: cover;
			width: 100%;
			border-radius: 20px;
		}
	}
	&__content{
		padding-top: 24px;
		&__inner{
			justify-content: space-between;
			display: flex;
			align-items: center;
		}
	}
	&__title{
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		line-height: 133%;
		color: #000000;
		margin-bottom: 10px;
		a{
			color: inherit;
			&:hover{
				color: $textcolor-two;
			}
		}
	}
	&__dec{
		font-style: normal;
		font-weight: 400;
		font-size: 21px;
		line-height: 143%;
		color: #191919;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	&__social{
		display: flex;
		align-items: center;
		gap: 10px;
		a{
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 13px;
			color: #EFEAE3;
			border-radius: 50%;
			background: $black;
			&:hover{
				background: $textcolor-two;
				color: $black;
			}
		}
	}
}

/* ----------------------------------
	Team Details
------------------------------------ */

.team-details-one{
	position: relative;
	padding: 130px 0px;
	&__content{
		margin-right: 80px;
	}
	&__title{
		font-style: normal;
		font-weight: 700;
		font-size: 80px;
		line-height: 100%;
		letter-spacing: -2px;
		color: #000000;
		margin-bottom: 24px;
		padding-bottom: 0;
	}
	&__text{
		font-style: normal;
		font-weight: 400;
		font-size: 21px;
		line-height: 143%;
		color: #191919;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	&__text + &__text{
		margin-top: 1.75rem;
	}
	&__subtitle{
		display: block;
		margin-top: 30px;
		font-style: normal;
		font-weight: 600;
		font-size: 21px;
		line-height: 143%;
		color: #191919;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.team-one__dec{
		font-weight: 600;
		font-size: 21px;
		line-height: 30px;
		color: #000000;
	}
	&__border{
		width: 100%;
		height: 1px;
		background: #EAEDF0;
		margin-top: 80px;
		margin-bottom: 80px;
	}
	&__item{
		&__title{
			font-style: normal;
			font-weight: 700;
			font-size: 30px;
			line-height: 140%;
			letter-spacing: -1px;
			color: #000000;
			padding-bottom: 0;
			margin-bottom: 15px;
			font-family: $heading-font;
			position: relative;
			&::before {
				counter-increment: my-sec-counter;
				content:  counter(my-sec-counter) ". ";
			}
		}
		&__text{
			font-style: normal;
			font-weight: 400;
			font-size: 21px;
			line-height: 143%;
			color: #191919;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

/* ----------------------------------
	Portfolio css
------------------------------------ */

.portfolio-one{
	padding: 130px 0px;
	&__list{
		@media (min-width:767px) {
			columns: 2;
			gap: 25px;
		}
		&__item{

		}
	}
	&__thumb{
		margin-bottom: 24px;
		img{
			object-fit: cover;
			width: 100%;
			border-radius: 20px;
		}
	}
	&__content{
		display: flex;
		align-items: center;
		gap: 100px;
		justify-content: space-between;
		margin-bottom: 40px;
	}
	&__title{
		font-family: $body-font;
		font-weight: 700;
		font-size: 30px;
		line-height:140%;
		letter-spacing: -1px;
		color: #000000;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}