@use "../utils" as *;

/* ----------------------------------
	16. feature css
 ------------------------------------ */

 .feature-one{
	position: relative;
	z-index: 1;
	padding: 120px 0px 0px;
	@media (max-width:991px) {
		padding: 100px 0px 0px;
	}
	@media (max-width:991px) {
		padding: 80px 0px 0px;
	}
	&__list{
		display: flex;
		align-items: center;
		border-radius: 10px;
		border: 2px solid $black;
	}
	&__item{
		flex: 25%;
		width: 25%;
		padding: 30px;
		background: transparent;
		transition: all 0.4s ease-in-out;
		&__icon{
			svg{
				width: 70px;
				height: 70px;
				fill: $black;
			}
			margin-bottom: 30px;
		}
		&__title{
			font-family: $heading-font;
			font-style: normal;
			font-weight: 700;
			font-size: 28px;
			line-height: 129%;
			letter-spacing: -0.5px;
			color: $black;
			margin-bottom: 15px;
			a{
				color: inherit;
				&:hover{
					color: $textcolor-two;
				}
			}
		}
		&__text{
			font-family: $body-font;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 167%;
			color: $textcolor;
			margin-bottom: 50px;
		}
		&__btn{
			font-size: 30px;
			color: $black;
			&:hover{
				i{
					animation: left-to-right 1.5s linear;
				}
			}
		}
		&:hover{
			background:$black;
			.feature-one__item__title, .feature-one__item__text{
				color: $white;
			}
			.feature-one__item__btn{
				color: $textcolor-two;
			}
		}
		&:hover &__icon{
			svg{
				fill: $textcolor-two;
			}
		}
	}
	&__item + &__item{
		border-left: 2px solid $black;
	}
 }

 .feature-two{
	.sec-title__title{
		font-family: $clashDisplay;
		font-style: normal;
		font-weight: 500;
		font-size: 75px;
		line-height: 107%;
		text-align: center;
		color: $black;
	}
	&__item{
		display: flex;
		gap: 20px;
		&__icon{
			max-width: 80px;
			width: 100%;
			height: 80px;
			background: $white;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
			position: relative;
			z-index: 1;
			&::after{
				content: "";
				width: 0%;
				height: 0%;
				position: absolute;
				top: 50%;
				left: 50%;
				background: $textcolor-two;
				border-radius: 50%;
				z-index: -1;
				transition: all 0.4s ease-in-out;
			}
		}
		&__content{
			&__title{
				font-family: $clashDisplay;
				font-style: normal;
				font-weight: 500;
				font-size: 28px;
				line-height: 129%;
				letter-spacing: 1px;
				margin-bottom: 15px;
				padding-bottom: 0;
				color: $black;

			}
			&__text{
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height:167%;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
		&:hover &__icon{
			&::after{
				width: 100%;
				height: 100%;
				top: 0%;
				left: 0%;
			}
		}
	}
	&__line{
		margin: 130px 0px;
		border-bottom: 1px solid #EAEDF0;
	}
 }
