@use '../utils' as *;

/* ----------------------------------
	12. Hero css
 ------------------------------------ */

.hero-one{
	position: relative;
	padding-top: 195px;
	background: #EFEAE3;
	border-radius: 0 0 100px 100px;
	z-index: 1;
	&_content{
		position: relative;
		z-index: 1;

	}
	&__title{
		font-weight: 700;
		font-size: 120px;
		line-height: 100%;
		text-align: center;
		color:$black;
		margin-bottom: 24px;
		max-width: 1120px;
		margin-left: auto;
		margin-right: auto;
		font-family: $heading-font;
		text-shadow: 0 0 0.1px currentColor;
	}
	&__text{
		font-family: $body-font;
		font-style: normal;
		font-weight: 600;
		font-size: 21px;
		line-height: 143%;
		text-align: center;
		color:$textcolor;
		margin-bottom: 50px;
		max-width: 1120px;
		margin-left: auto;
		margin-right: auto;
	}
	&__link{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 25px;
		flex-wrap: wrap;
		margin-bottom: 80px;
	}
	&__thumb{
		padding-bottom: 50px;
	}

	&__blur{
		&--one{
			top: 24%;
			right: -7%;
			position: absolute;
			width: 500px;
			height: 500px;
			border-radius: 50%;
			background: radial-gradient(50% 50% at 50% 50%, #FF9831 0%, #FE330A 100%);
			filter: blur(55px);
			z-index: -1;
			animation: scaleOne 4s ease-in-out infinite;
		}
		&--two{
			top: 30%;
			right: 10%;
			position: absolute;
			width: 450px;
			height: 450px;
			border-radius: 50%;
			background: radial-gradient(50% 50% at 50% 50%, #FE330A 0%, #FF9831 100%);
			filter: blur(55px);
			z-index: -1;
			animation: scaleOne 4s ease-in-out infinite;
			animation-delay: 1s;
		}
	}
}

.hero-two{
	&__title{
		
	}
}