@use '../utils' as *;

/* ------------------------------------------------------------------
	11. meanmenu css
-------------------------------------------------------------------- */
.main-menu {
	ul {
		line-height: 1;
		margin-bottom: 0;
		>li {
			display: inline-block;
			position: relative;
			line-height: 1;
			position: relative;
			>a {
				display: block;
				padding: 25px 0px;
				overflow: hidden;
				font-family: $heading-font;
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 150%;
				text-align: center;
				text-transform: capitalize;
				color:$black;
				text-shadow: 0 0 0.1px currentColor;
			}
			&:hover {
				>a {
					color: $textcolor-two;
				}
				>ul {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
				}
			}

			>ul {
				position: absolute;
				top: 100%;
				width: 200px;
				background-color: $white;
				left: 0;
				z-index: 999;
				box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
				visibility: hidden;
				opacity: 0;
				transform: translateY(40px);
				transition: all 0.5s ease-in-out;
				padding: 20px;

				li {
					display: block;
					margin-right: 0;
					transition: all 0.4s ease-in-out;
					>a {
						text-align: left;
						display: block;
						color: $black;
						padding: 6px 10px;
						@include transition(0.4s);

						&:hover {
							color: $textcolor-two;
							padding-left: 20px !important;
						}

						&::after {
							display: none;
						}
					}

					&.has-dropdown {
						margin-right: 0;

						>a {
							padding-right: 25px;

							&::after {
								display: block;
								content: "\f105";
								font-family: $special-font;
								font-weight: 700;
								position: absolute;
								right: 15px;
								top: 50%;
								transform: translateY(-50%);
							}
						}
					}
					&:hover{
						background: $border-one;
					}
				}
				li+li{
					margin-top: 5px;
				}

				ul {
					left: 100%;
					top: 0;
					margin-left: 5px;
				}
			}
		}
	}
}

.main-menu__list >li+li{
	margin-left: 48px;
	@media (max-width:1199px) {
		margin-left: 30px;
	}
}